*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: rgba(9, 21, 39, 1);
    --default-color: #ffff;
    --border-color: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(255, 255, 255, 0.3);
}
.light-mode{
    --background-color: #ffff;
    --default-color: black;
    --border-color: rgba(9,21,39, 0.3);
    --shadow-color: rgba(9, 21, 39 , 0.5);
}
body{
    background: var(--background-color) ;
}
body *{
    color: var(--default-color);
    font-family: 'Prompt', sans-serif;
}

#container{
    width: 400px;
    margin: 24px auto 0px;
    text-align: center;
    padding: 0 24px;
}

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

ul li a{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    font-weight: 500;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 16px 24px;
    background: var(--border-color);
    backdrop-filter: blur(0.2px);
    transition: background border 0.4s;
    color: var(--default-color);
    
   
}

ul li a:hover{
    border: 1.5px solid var(--default-color);
    background: var(--background-color);
    box-shadow: 0px 0px 5px 5px var(--shadow-color);   
}

#social-links{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 24px 0px;
    font-size: 30px;
}

ul li a .icons{
    font-size: 30px;
}